@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

:root {
    --color-golden: #189ba6;
    --color-darkgrey: grey;
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);

}

.div a img {
    filter: grayscale(100%);
    

}

body {
    font-family: "Playwrite DE Grund", cursive;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-white);

}

h1 {
    font-size: 57px;

}

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.container a img{
    filter: invert(1); 
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;


}


.subtitle {
    display: inline-block;
    text-transform: capitalize;
    color: var(--color-golden);
    font-family: "Playwrite DE Grund", cursive;
    margin-bottom: 20px;
    font-size: 16px;
    position: relative;
}

.subtitle:after {
    position: absolute;
    top: 50%;
    right: -70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    display: block;
    content: "";
    background-color: var(--color-golden);
}

.btn {
    font-family: "Playwrite DE Grund", cursive;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 16px 32px;
    background-color: var(--color-golden);
    margin-top: 30px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 20px;
}

.btn:hover {
    -webkit-box-shadow: 0 16px 24px 2px rgb(0 0 0 /14%), 0 6px 30px 5px rgb(0 0 0/ 12%), 0 8px 10px -7px rgb(0 0 0 / 12%);
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%) 6px 30px 5px rgb(0 0 0/ 12%), 0 8px 10px -7px rgb(0 0 0 / 12%);
    color: var(--color-white);
    background-color: var(--color-darkgrey);
    border-radius: 25px;

}

.wrapper-header-top,
.wrapper-header-bottom {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.header-phone {
    color: var(--color-golden);
    font-size: 18px;
    font-family: "Playwrite DE Grund", cursive;

}

.header-phone a {
    text-decoration: none;
    display: inline-block;
    color: var(--color-golden);
    font-weight: 700;

}

.menu li {
    float: left;
    margin-left: 40px;

}

.menu li a {
    font-family: "Playwrite DE Grund", cursive;
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
}

menu li a:hover {
    color: var(--color-golden);
}

.wrapper-header-content {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    min-height: 800px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-content>div {
    width: 96%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header-content>div p {
    line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: bgSlideshow 20s infinite;
  background-attachment: fixed;

}

@keyframes bgSlideshow {
  0% {
    background-image: url('interior- images/image\ 1.jpg');
  }
  25% {
    background-image: url('interior- images/image\ 2.jpg');
  }
  45% {
    background-image: url('interior- images/image\ 3.jpg');
  }
  85% {
    background-image: url('interior- images/image\ 4.jpg');
  }
  90% {
    background-image: url('interior- images/image\ 5.jpg');
  }
  
  100% {
    background-image: url('interior- images/image\ 6.jpg');
  }

}
